
  
  .profile-image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0% 25%;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .profile-username {
    font-family: Arial, Helvetica, sans-serif;
    padding-block: 20px;
    font-size: 40px;
    color: white;
  }

  p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
  }

  body {
    font: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
    margin: 0;
    color: #224;
    background:
      url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
      center / cover no-repeat fixed;
  }
  
  .card {
    max-width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 100px;
  
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(166, 158, 158, 0.45); 
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
  }
  
 .btn {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 30px;
    background-color: white;
    color: palevioletred;
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
    width: 50%;
    margin: 10% 25%;
    border: none;
 }
 .fa {
    color: white;
    background-color: rgba(255, 255, 255, 0.159);
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }