
html {
    font-family: Arial, Helvetica, sans-serif;

}

form {
    width: 100%;
}

.form-input {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 
    font-size: 12px;
    gap: 8px;
    border: 2px solid #eee;
    border-radius: 8px;
}

.form-input:has(.input-field:focus) {
    border: 2px solid #2616d0;
}

/* :has() :is()
div:is(.form-input) {
    background: red;
}


.form-input:has(.input-field:invalid) {
    border: 2px solid #9a2527;
}

*/

.input-field {
    border: 0;
    font-size: 18px;
    line-height: 30px;
    display: block;
    width: 100%;
    outline: none;
    font-size: 13px;
    color: #706E6B;
 }

.padding-regular {
    padding: 5px 10px 5px 10px;
}

.padding-with-icon {
    padding: 5px 10px 5px 50px;
}

.icon {
    /* position: absolute; */
    top: 0;
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-right {
    left: 190px;
}

.icon-left {
    left: 15px;
}

.input-container {
    margin-top: 30px;
    width: 100%;
}